.IndianAccountCard {
  width: auto;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #ffffff;
  border: 1px solid var(--default-border-color);
  box-shadow: 10px 10px 15px -12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding-left: 22px;

  > .body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 200px;

    > .flagContainer {
      display: flex;
      align-items: center;
      gap: 12px;

      > .label {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #1f2c35;
      }
      > .flag {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        overflow: hidden;
        background-color: rgb(217, 101, 101);
      }
    }

    > .title {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #1f2c35;
    }
  }
}
