.recentActivity {
  height: 100px;
  width: max-content;
  display: flex;
  gap: 16px;
  align-items: center;
  border-bottom: 1px solid var(--default-border-color);
  cursor: pointer;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }

  > .statusIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-items: center;
    background: rgba(0, 162, 91, 0.1);

    > svg {
      stroke: #00a25b;
    }
  }

  > .body {
    width: 400px;
    @media screen and (max-width: 1000px) {
      width: 100%;
    }

    > .title {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      text-align: left;
      color: var(--primary-gray);
      margin-bottom: 4px;
    }

    > .bottom {
      display: flex;
      align-items: baseline;

      > .message {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #1f2c35;
      }

      > .createdAt {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #7f8899;
        margin-left: auto;
      }
    }
  }
}
